.detailCard {
    width: 50%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border: none;
}

a {
    text-decoration: none;
    color: black;
}

.btnItemListDet {
    background-color: #4efc19;
    border: 1px solid rgb(139, 138, 138);
    
    
    margin-top: 50px;
}

h5, p {
    color: black;
}