h2 {
    text-align: center;
    margin: 70px 0px;
    animation-duration: 6s;
    animation-name: aparecer;
}
 
 @keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      
    }
 }
 
 .btnItemList {
    background-color: #7AFA94;
    border: 1px solid rgb(139, 138, 138);
}

.itemPro {
  justify-content: center;
  align-items: center;
}

img {
  border-radius: 20px;
  margin: 10px 5px;
}

.cardItem {
  margin: 10px 5px;
}

.marginSpin {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}