h2 {
    text-align: center;
    margin: 70px 0px;
    animation-duration: 6s;
    animation-name: aparecer;
}
 
 @keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      
    }
 }
 
 .btnItemList {
    padding: 10px;
    border-radius: 10px;
    background-color: #b2ff59;
    border: 0px solid rgb(139, 138, 138);
    width: 250px;
    margin-right: auto;
    margin-left: auto;
    color: black;
}

img {
  border-radius: 20px;
  margin: 10px 5px;
  
}

.cardItem {
  margin: 10px 0px;
}

.marginSpin {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 300px;
}

