.navClass {
    background-color: #29cf23;
    padding: 10px;
    border-radius: 10px;

}


.linkClass {
    text-decoration: none;
}

#Logo {
    width: 200px;
    height: 200px;
}

.navbarHeader{
    height: 200px;
}