.divClass {
    margin-bottom: 200px;
}

h1 {
    font-size: 50px;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
      
}


ul {
    list-style: none;
    
}

ul li {
    margin: 5px 20px;
    padding: 10px 6px;
    background-color: aliceblue;
    color: black;
    border-radius: 10px;
    
}

li {
    display: inline-block;
    position: relative;
    text-align: center;

}

ul ul {
    position: absolute;
    display: none;
}

ul ul li {
    display: block;
    margin: 20px auto;
    font-size: 16px;
    
}

ul li:hover ul {
    display: block;
}

.menuTrans{
    transition: all 1s;
}

.MenuTrans:hover{
    background-color: rgba(225, 243, 67, 0.932);
}