.classCount {
    background-color: #29cf23;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    width: 500px;
    border-radius: 10px;
    
}

button{
    margin: 0px 15px;
}

label {
    margin: 0px 20px;
    text-align: center;
    
}

.nuevoBoton {
    display: flex;

    
}